<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "en-us" }}">

    <head>

        {%- include head.html -%}

    </head>

    <body>

        {% if page.alert %}
        <h1 style="color: brown;">{{page.response_code}}</h1>
        {% endif %}

        <div class="container-fluid">
            <div class="row">
                <aside class="col-md">
 
                    <header>
                        {% if page.year %}
                            {% capture homeurl %}{{ '/' | append: page.year}}{{ '/' | append: page.season}}
                            {% endcapture %}
                        {% else %}
                        {% capture homeurl %}https://www.hackclub.ml{% endcapture %} 
                        {% endif %}
                        
                        <h1 data-id="this-is-50-days"><a href="{{homeurl}}">Welcome To Evelyn Hone Hack Club</a></h1>
                        <p>
                          <a href="http://evelynhone.edu.zm/">50 Days of C++ With Evelyn Hone Hack Club </a><br /> 
                          {{page.sn}} {{page.year}}
                    </header>

                    {% if site.algolia -%}
                    <button class="btn btn-link d-block pl-0 pt-0" data-search data-target="#search" data-toggle="modal" type="button">
                        <i class="fas fa-search pr-2"></i>Search
                    </button>
                   {%- endif %}

                    <button aria-controls="nav" aria-expanded="false" class="btn btn-sm collapsed d-md-none" data-target="aside > nav" data-toggle="collapse">
                        Menu
                    </button>

                    <nav class="collapse d-md-block" id="nav">
                        <hr />
                        <ul>
                            {% assign sorted_site = site.year | sort: 'day' %}
                            {% for site_page in sorted_site %} 
                                {% if site_page.year == page.year  %}
                                    {% if site_page.season == page.season  %}
                                        <li><a href="{{site_page.url}}">Day {{site_page.day}} </a>{{site_page.title}}</li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {%- include nav_more.html -%}
                    {%- include contributors.html -%}

                    </nav>

                    <footer>

                        {%- capture footer -%}{%- include footer.md -%}{%- endcapture -%}
                        {{- footer | markdownify | replace: " id=", " data-id=" | strip -}}

                    </footer>

                </aside>

                <main class="col-md markdown-body">
                    {{ content }}

                </main>

            </div>

        </div>

 
    </body>

</html>
